*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bd-text{
    font-size: 6rem;
    background-image: url(./bd.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}